<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Spotify-ifyly</h2>
            <p>Spotify-ifyly is a playlist creation service. It links to Spotify so you can have all the music you want and none that you don't.</p>
            <p>Create playlists by hitting a check next to the song you like. If you don't like a song, just hit the x and it will go away.</p>
            <p>Playlists are curated from the top songs in each letter of the alphabet.</p>
        </div>
    </div>
</section>
