

<form action="/suggest_song" method="Post">
  <div class ="box">
    <input type="text" name="suggested_song" placeholder="Suggest a song">
  </div>
  <div class = "box">
  <button>
    Submit song
  </button>
</div>
</form>
