<div class="change-password-page">
    <div class="col-md-12">
       <% if @error %>
         <p><%= @error %></p>
       <% end %>

       <form method="post" action="/change_password">
         <input placeholder="Old password" type="password" name="oldpass">
         <br>
         <br>
         <input placeholder="New password" type="password" name="newpass">
         <br>
         <br>
         <input placeholder="Confirm new password" type="password" name="newpass2">
         <br>
         <br>
         <button>Change password</button>
         <br>
         <br>
       </form>
       <br>
    </div>
</div>
