<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="app.css" />
    <meta charset="UTF-8">
    <title>Spotifyifyly</title>
  </head>
  <body TEXT="#FFFFC3" LINK="#00FFAE" VLINK="#00FFAE" ALINK="#FFFF00">
    <h1>Text Text Text</h1>


  </body>
</html>
