<div class="invite">
    <form method="post" action="/invite">
        <label>
            Name
            <input type="text" name="name" value="<%= @new_user.name %>">
        </label>
        <label>
            Email
            <input type="text" name="email" value="<%= @new_user.email %>">
        </label>
        <label>
            Password
            <input type="password" name="password">
        </label>
        <button>Invite</button>
    </form>
</div>





<!-- Invite -->
<section id="profile" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Invite Enemies</h2>
                <form method="post" action="/invite" class="form-inline">
                <div class="form-group">
                        <label class="sr-only" for="Name">Name</label>
                        <input type="text" class="form-control" id="Name3" placeholder="Name" value="<%= @new_user.name %>">
                </div>
                <div class="form-group">
                        <label class="sr-only" for="EmailAddress">Email address</label>
                        <input type="text" class="form-control" id="Email3" placeholder="Email" value="<%= @new_user.email %>">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword3">Password</label>
                    <input type="password" name="password" class="form-control" id="Password3" placeholder="Password">
                </div>
                <button class="btn btn-default btn-lg">Invite</button>
               </form>
            </div>
        </div>
    </div>
</section>
