<div class="login-page">
    <div class="col-md-12">
        <h2 class="login-banner">
            Please login with your username and password!
        </h2>
        <img src="images/jnco.jpg" class="jnco" alt="awesome 90s bro" width="600" height="460">
       <% if @error %>
         <p><%= @error %></p>
       <% end %>

       <form method="post" action="/handle_login">
         <label>
           Email
           <input type="text" name="email">
         </label>
         <label>
           Password
           <input type="password" name="password">
         </label>
         <button>Login</button>
       </form>
    </div>
</div>


<!-- Login -->
<section id="login" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Please Log In</h2>
                <% if @error %>
                 <p><%= @error %></p>
                <% end %>

                <form method="post" action="/handle_login" class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="EmailAddress">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword3">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-default btn-lg">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>
