.account {
    color: #1ED760;
}

.text-primary {
    color: #1ED760;
}

.control-label {
    color: #939698;
}

.songs {
    color: #1ED760;
}

.page-account-overview {
    display: inline-block;
    background-color: #2E2F33;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

.page-header {
    background-color: #F8F8F8;
    text-align: center;
}

.col-md-6 {
    background-color: #FFF;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: fantasy;
  text-align:center;
  background-image: url('/images/starbg.gif');
  background-repeat: repeat;
  /*background-size: cover;*/
}

.login {
  text-align:left;
}
