html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: fantasy;
  text-align:center;
  background-image: url('/images/starbg.gif');
  background-repeat: repeat;
}

a {
  color: #ff69b4;
}

li {
  color: #ff8300;
}

label {
  color: #b378d3;
}

input {
  background: #eef66c;
}

.playlist-title {
  color: #1ed760;
}

.navbar-inverse {
  background-color: #0b0b67;
  border-color: #080808;
}

.navbar-inverse .navbar-brand {
    color: #1ed760;
}

.navbar-inverse .navbar-nav>li>a {
  color: #1ed760;
}

.login-banner {
  color: #E70000;
}

.logout-btn {
  color: #1ed760;
  background-color: #0b0b67;
  padding-top: 15px;
  padding-bottom: 15px;
}

.textbox {
    display: inline;
}

.index-header {
  padding-top: 55px;
}

.header {
  padding-top: 10px;
}

.Songs {
  color: #1ed760;
}

.account {
  color: #1ed760;
}

.text-primary {
  color: #1ed760;
}

.control-label {
  color: #b378d3;
}

.form-control-static {
  color: #eef66c;
}

.songs {
  color: #1ed760;
}

.footer-title {
  padding-top: 100px;
  color: #1ed760;
}

.contact {
  color: #eef66c;
}

marquee {
  color: #eef66c;
}

.jnco {
  padding: 10px 0 20px 0;

}

.songs {
  color: #1ed760;
}

.footer-title {
  color: #1ed760;
}

.contact {
  color: #eef66c;
}

marquee {
  color: #eef66c;
}
